
prescripto_guide/
admin/.env
frontend/.env
backend/.env

admin/node_modules/
frontend/node_modules/
backend/node_modules/

admin/dist/
frontend/dist/
backend/dist/
admin/.gitignore
frontend/.gitignore
backend/.gitignore
.vscode/